/*global styles*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: black;
}

h2 {
    font-family: oswald;
    font-size: 20px;
    font-weight: bold;
}

body {
    font-family: "source sans pro", 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
    height: 100vh;

}

.cta_button {
    background-color: var(--top_header_color);
    width: 51px;
    color: #fff;
    border-radius: 10px;
    border-color: #fff;
    padding: 2px 15px 2px 15px;
    font-family: oswald;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

:root {
    --top_header_color: #FF0909;
    --bottom_header_color: #F0E5E5;
}

.top_header {
    height: 68px;
    background-color: var(--top_header_color);
    display: flex;
}

.top_header a {
    display: inline-flex;
    color: #fff;
    font-family: oswald;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    align-self: center;
}

.tickets {
    border-style: solid;
    border-color: #fff;
    border-radius: 15px;
    padding: 0px 15px 0px 15px;
    position: absolute;
    right: 200px;
}

.Bottom_header {
    height: 95px;
    background-color: var(--bottom_header_color);
    font-family: oswald;
    font-size: 25px;
    font-weight: bold;
}

nav ul {
    display: flex;
    padding-top: 40px;
    padding-right: 10px;
    justify-content: center;
    margin-right: 180px;
}

nav ul li {
    padding-right: 25px;
}



#hamburger-menu {
    display: none;
}



/* Home page*/

.home_grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 10px;
    margin: auto;
}

.home_grid_item {
    background-color: #EDF6F6;
    color: black;
}

.home_grid_item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.exhibition_hall {
    width: 100%;
    height: 100%;
}

.home_grid_item:nth-child(2) {
    grid-column: 3;
    padding: 65px;
}


.home_grid_item:nth-child(3) {
    grid-row: 2 / 4;
    padding: 90px 65px;
}

.home_grid_item:nth-child(4) {
    grid-column: 2;
    padding: 90px 65px;
}

.home_grid_item:nth-child(6) {
    grid-column: 2 / 4;
    padding: 90px 65px;
    display: flex;
    flex-direction: row;
}

.Child_reading,
.teacher_greating,
.looking_in_a_microscope,
.holding_a_plant {
    width: 80%;
    height: 300px;

    /*max-width: 453px;
    max-height: 312px;
    */
}

.background_image {
    background-image: url(image/learn-2405206_1920_small.jpg);
    height: 350px;
}

.header_homepage {
    margin: 50px 0px 20px 240px;
    font-family: oswald;
    font-size: 30px;
}


/*footer*/

.footer_top_bar {
    background-color: var(--top_header_color);
    height: 64px;
    color: #fff;
    margin: 15px 0px 15px 0px;
    align-self: center;
}

.footer_section_one {
    margin-top: 25px;
}


@media (min-width: 700px) {

    /*gobal*/

    .hamburgerbars {
        display: none;
    }

    /*Home*/

    .background_image {
        background-image: url(image/learn-2405206_1920.jpg);
        height: 450px;
        background-size: cover;
    }

}